#thelobangbanner {
    background-image: url("resources/thelobang-banner.png");
    background-repeat: no-repeat;
    width: auto;
    height: 600px;
    background-size: 100% auto;
    background-position: center;
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: -10px;
    margin-bottom: -10px;
}
#thelobangbanner::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: -10px;
    margin-bottom: -10px;
}
#thelobangicon {
    background-image: url("resources/thelobang-icon.png");
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    background-size: 100% auto;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#voidbanner {
    background-image: url("resources/void-banner.jpg");
    background-repeat: no-repeat;
    width: auto;
    height: 600px;
    background-size: 100% auto;
    background-position: center;
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: -10px;
    margin-bottom: -10px;
}
#voidbanner::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: -10px;
    margin-bottom: -10px;
}
#voidicon {
    background-image: url("resources/void-icon.png");
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    background-size: 100% auto;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#adbuttongroup {
    width: auto;
    height: 90px;
    display: flex;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}
#adbuttonitchio {
    background-image: url("resources/ad-button-itchio.svg");
    background-repeat: no-repeat;
    width: 100%;
    height: 90px;
    background-size: 100% auto;
    background-position: center;
}
#adbuttonsteam {
    background-image: url("resources/ad-button-itchio.svg");
    background-repeat: no-repeat;
    width: 100%;
    height: 90px;
    background-size: 100% auto;
    background-position: center;
    margin-left: 10px;
    margin-right: 10px;
}
#adbuttonplaystore {
    background-image: url("resources/ad-button-itchio.svg");
    background-repeat: no-repeat;
    width: 100%;
    height: 90px;
    background-size: 100% auto;
    background-position: center;
}
@media (max-width: 850px) {
	#thelobangbanner { height: 190px; margin-left: 10px; margin-right: 10px; margin-top: 0; margin-bottom: 0; }
	#thelobangicon { width: 70px; height: 70px; }
	#voidbanner { height: 190px; margin-left: 10px; margin-right: 10px; margin-top: 0; margin-bottom: 0; }
	#voidicon { width: 70px; height: 70px; }
	#adbuttongroup { height: 40px; margin-left: 10px; margin-right: 10px; }
	#adbuttonitchio { height: 40px; }
	#adbuttonsteam { height: 40px; }
	#adbuttonplaystore { height: 40px; }
}