link {
  cursor: pointer;
}
#nav {
  background-color: #140C1C;
  margin: -8px;
  padding: 8px;
  color: #DEEED6;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 27px;
}
#get-started {
  background-color: #597DCE;
  margin: -8px;
  padding: 8px;
  color: #DEEED6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 27px;
}
#home {
  background-color: #140C1C;
  margin: -8px;
  padding: 32px;
  color: #DEEED6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 27px;
}
#footer {
  background-color: #30346D;
  margin: -8px;
  padding: 8px;
  color: #DEEED6;
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-size: 27px;
}
#figure { width: 48px; height: 48px; }
#image { width: auto; height: 240px; }
#center {
  display: flex;
  justify-content: center;
  font-size: 27px;
}
#drawer { display: none; }
#drawer-home { display: none; }
#drawer-docs { display: none; }
 