---
layout: base
---
<div id="wrapper">
	<div class="module title color-1"><h1><a href="./">---=== VOID ===---</a></h1></div>
	<table class="links" border="0" cellspacing="0" cellpadding="0" width="100%"><tr>
		<td><a class="module links color-3" href="./550e8400-e29b-41d4-a716-446655440001">&nbsp;Docs&nbsp;</a></td>
		<td><a class="module links color-3" href="./550e8400-e29b-41d4-a716-446655440000">&nbsp;Blog&nbsp;</a></td>
		<td><a class="module links color-3" href="https://veskfall.itch.io/void-fantasy-console">Itch.io</a></td>
	</tr></table>
	<div class="module main-content color-5">
{{ content }}
	</div>
</div>
<div id="footer">Website made by <a href="./550e8400-e29b-41d4-a716-446655440008">Gustavo Gimenes</a> &middot; Powered by the <a href="@Veskfall" target="_blank">Veskfall</a> (<a href="./license" target="_blank">License</a>)</div>
